Source: unifont
Section: x11
Priority: optional
Maintainer: Bart Schuller <schuller@debian.org>
Standards-Version: 3.5.0
Build-Depends-Indep: debhelper, xutils

Package: unifont
Architecture: all
Depends: xutils
Description: X11 dual-width GNU unicode font
 The GNU unicode font is an X11 bitmap font in iso10646 encoding. It is
 useful if you have X programs such as the yudit text editor that are
 unicode aware.
