#!/usr/bin/make -f
  
CFLAGS = -g -O2 -Wall

build-arch: build-stamp-arch

build-stamp-arch:
	dh_testdir
	$(MAKE) CFLAGS='$(CFLAGS)'
	touch $@

build-indep: build-stamp-indep

build-stamp-indep: build-stamp-arch
	dh_testdir
	rm -f font/precompiled/unifont*
	$(MAKE) -C font
	cp font/compiled/unifont-*.bdf.gz font/precompiled/unifont.bdf.gz
	rm -f font/compiled/unifontfull-jp-*.hex
	cp font/compiled/unifontfull-*.hex font/precompiled/unifontfull.hex
	rm -f font/compiled/unifont-jp-*.hex
	cp font/compiled/unifont-*.hex font/precompiled/unifont.hex
	cp font/compiled/unifont-*.pcf.gz font/precompiled/unifont.pcf.gz
	cp font/compiled/unifont-*.ttf font/precompiled/unifont.ttf
	cp font/compiled/unifont-*.bdf.gz font/precompiled/unifont.bdf.gz
	touch $@

build: build-indep

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean
	rm -f font/precompiled/unifont*
	rm -f build-stamp-arch build-stamp-indep

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	dh_install --sourcedir=debian/tmp

#
# The font files are architecture independent.
#
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_installxfonts -i
	( [ -x /usr/bin/dh_lintian ] && dh_lintian -i ) || /bin/true
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

#
# Architecture-specific files here -- unifont-bin
#
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installchangelogs -a
	dh_installman -a
	( [ -x /usr/bin/dh_lintian ] && dh_lintian -a ) || /bin/true
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_perl -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
